@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "异常错误界面";
}
<h3>程序请求时，发生了一个错误，我们会返回给开发团队</h3>

<h5>请通过979538519@qq.com与我们取得联系</h5>
<a asp-action="index" asp-controller="home">点击此处返回首页</a>